<a href="https://colab.research.google.com/github/nataliawcislo/jobposting_dataset_analysis/blob/main/Copy_of_nn_posting_job.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import scipy
import numpy
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential, layers, callbacks
from tensorflow.keras.layers import Dense, LSTM, Dropout, GRU, Bidirectional
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
from IPython.core.pylabtools import figsize
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
import seaborn as sns

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))
  print(len(fn))

Saving cat (1).csv to cat (1).csv
User uploaded file "cat (1).csv" with length 27744 bytes
11

In [ ]:
# Importing libraries for analysis in alphabetical order
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.graph_objects as go

from sklearn import metrics 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

# show matplotlib charts in cells
%matplotlib inline


# Set display options to not include scientific notation 
pd.options.display.float_format = '{:.2f}'.format

In [ ]:
data_s = pd.read_csv(fn)
data_s.head()

                           Job Title  Founded  ... experience  cat
0              Senior Data Scientist       15  ...          1    3
1  Data Scientist, Product Analytics       14  ...          4    2
2                       Data Analyst        3  ...          5    2
3             Director, Data Science       15  ...          2    2
4                     Data Scientist       37  ...          3    2

[5 rows x 8 columns]

In [ ]:
# data_s.drop(['Rating', 'Type of ownership','Job Description', 'avg'], axis=1, inplace=True)

In [ ]:
data_s['cat'] = " "

In [ ]:
import re
data_s['cat'] = data_s['Job Title'].str.findall('Intern|Internship|Jr|Junior|Sr|Senior|Head|Lead|Researcher')
data_s["cat"] = data_s["cat"].replace("Junior", 1, inplace=True)
data_s["cat"] = data_s["cat"].replace("Middle", 2, inplace=True)
data_s["cat"] = data_s["cat"].replace("Senior", 3, inplace=True)
data_s["cat"] = data_s["cat"].replace("Lead", 4)
data_s["cat"] = data_s["cat"].replace("Head", 4)
data_s["cat"] = data_s["cat"].replace("Reseracher", 5)
data_s["cat"] = data_s["cat"].replace("[", '')
data_s["cat"] = data_s["cat"].replace("]", '')
pd.set_option("max_rows", None)
data_s

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))
  print(len(fn))

Saving cat (1).csv to cat (1).csv
User uploaded file "cat (1).csv" with length 27744 bytes
11

In [ ]:
# Importing libraries for analysis in alphabetical order
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.graph_objects as go

from sklearn import metrics 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

# show matplotlib charts in cells
%matplotlib inline


# Set display options to not include scientific notation 
pd.options.display.float_format = '{:.2f}'.format

In [ ]:
data_f = pd.read_csv(fn)
data_s = pd.read_csv(fn)
data_f.head()

                           Job Title  Founded  ... experience  cat
0              Senior Data Scientist       15  ...          1    3
1  Data Scientist, Product Analytics       14  ...          4    2
2                       Data Analyst        3  ...          5    2
3             Director, Data Science       15  ...          2    2
4                     Data Scientist       37  ...          3    2

[5 rows x 8 columns]

In [ ]:
data_f.drop(['Job Title'], axis=1, inplace=True)

In [ ]:
import pandas as pd

data_f['Max'] = round(data_f['Max']/12)
data_f['Min'] = round(data_f['Min']/12)
print(data_f['Min'])
# check format
print(data_f.dtypes)
# Change formay
data_f["Size"] = data_f["Size"].replace("Unknown", '2')
data_f["cat"] = data_f["cat"].replace("Unknown", '2')
data_f['Founded'] = data_f['Founded'].astype('int64')
data_f['Size'] = data_f['Size'].astype('int64')
data_f['Max'] = data_f['Max'].astype('int64')
data_f['Min'] = data_f['Min'].astype('int64')
data_f['Level of expireince'] = data_f['Level of expireince'].astype('int64')
data_f['experience'] = data_f['experience'].astype('int64')
# check format
print(data_f.dtypes)
# sort old -> young
# dataset.sort_values(by='Date', inplace=True)
# Double check the result
data_f.head()

0     9250.00
1     9250.00
2     9250.00
3     9250.00
4     9250.00
        ...
509   5167.00
510   5167.00
511   5167.00
512   5167.00
513   5167.00
Name: Min, Length: 514, dtype: float64
Founded                  int64
Size                    object
Max                    float64
Min                    float64
Level of expireince      int64
experience               int64
cat                      int64
dtype: object
Founded                int64
Size                   int64
Max                    int64
Min                    int64
Level of expireince    int64
experience             int64
cat                    int64
dtype: object

   Founded  Size    Max   Min  Level of expireince  experience  cat
0       15     1  15083  9250                    1           1    3
1       14     3  15083  9250                    1           4    2
2        3     1  15083  9250                    1           5    2
3       15     1  15083  9250                    1           2    2
4       37     1  15083  9250                    1           3    2

In [ ]:
print(len(data_f["Size"]))
print(len(data_f["cat"]))
print(len(data_f['Founded']))

514
514
514

In [ ]:
# by_title = data_s.groupby(by=['cat'], as_index=False).agg({'Max' :'count'}).sort_values(by=['Max'], ascending=False)
# len_cat = by_title['Max']
# by_title.rename(columns={"cat": "cat"}, inplace=True)


# by_title

In [ ]:
# plt.scatter(data_f['experience'], data_f['Min'])
# plt.xlabel('Years of Experience')
# plt.ylabel('Salary Min')
# plt.show()

# plt.scatter(data_f['experience'], data_f['Max'])
# plt.xlabel('Years of Experience')
# plt.ylabel('Salary Max')
# plt.show()

# # choosing colors
# top_color = "#0952CB"
# none_top_color = "#85929E"
# # set the background to white
# sns.set_theme(style="white")
# # create chart and adding palette colors on top 3
# chart = sns.catplot(
#     data=by_title, 
#     x="cat", 
#     y='Max', 
#     kind="bar",
#     height= 7,
#     aspect=2,
#     legend=False,
#     palette={
#       1: top_color,
#       2: top_color,
#       3: top_color,
#       4: top_color,
#       5: top_color
#         }  
#     )
# chart.set(ylabel=None, xlim=(0,380))
# chart.set(xlabel=None, xlim=(0,5))

In [ ]:
from sklearn.model_selection import train_test_split

train_dataset = data_f

# Split train data to X and y
X = train_dataset.drop(['Max'], axis = 1)
y = train_dataset.loc[:,['Max']]
X = X.to_numpy()
y = y.to_numpy()
print(X.shape)
print(y.shape)

# # Split test data to X and y
# X_test = test_dataset.drop(['Max'], axis = 1)
# X_test = X_test.to_numpy()
# print(X_test.shape)
# y_test = test_dataset.loc[:,['Max']].to_numpy()
# print(y_test.shape)

# train_size = int(len(data_n)*0.85)
# train_dataset, test_dataset = data_f.iloc[:train_size], data_f.iloc[train_size:]
# print(len(train_dataset))
# print(len(test_dataset))

X_train, X_test, y_train, y_test = train_test_split(X ,y, test_size=0.2, random_state=42, shuffle=True)
print(y)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

# Different scaler for input and output
scaler_x = MinMaxScaler(feature_range = (0,1))
scaler_y = MinMaxScaler(feature_range = (0,1))

# Fit the scaler using available training data
input_scaler = scaler_x.fit(X_train)
output_scaler = scaler_y.fit(y_train)

# Apply the scaler to training data
train_y_norm = output_scaler.transform(y_train)
train_x_norm = input_scaler.transform(X_train)

# Apply the scaler to test data
test_y_norm = output_scaler.transform(y_test)
test_x_norm = input_scaler.transform(X_test)

In [ ]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)
y_pred=regressor.predict(X_test)
# y_pred
# y_test
# std_test = y_pred - y_test
# std_test

In [ ]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='linear')
svclassifier.fit(X_train, y_train.ravel())
y_pred = svclassifier.predict(X_test)

plt.scatter(X, y, color = 'magenta')
plt.plot(X, regressor.predict(X), color = 'green')
plt.title('Truth or Bluff (Support Vector Regression Model)')
plt.xlabel('Position level')
plt.ylabel('Salary')
plt.show()

In [ ]:
juniorData =  data_s[data_s['Job Title'].str.contains("Junior")|data_s['Job Title'].str.contains("Jr.")]
print(len(juniorData))
juniorData.head()


from scipy.stats import shapiro
from scipy.stats import anderson
from scipy.stats import normaltest
from scipy.stats import norm
from scipy import stats

fig = plt.figure()
res = stats.probplot(juniorData['SalaryAverage'], plot=plt)

plt.xlabel("Ogoszenia")
plt.ylabel("Wysoko wynagrodzenia")
plt.title("Wysoko wynagrodzenia dla Juniora")

juniorData.boxplot(column=['SalaryAverage'])

seniorData =  data_s[data_s['Job Title'].str.contains("Senior")|data_s['Job Title'].str.contains("Sr.")]
print(len(seniorData))

fig = plt.figure()
res = stats.probplot(seniorData['SalaryAverage'], plot=plt)
seniorData.boxplot(column=['SalaryAverage'])

NLP

In [ ]:
def data_creator(df):
  name_post, descrition = map(extract, filenames)
  return np.array(name_post), np.array(descrition)

parser = argparse.ArgumentParser()
parser.add_argument('directory', help='Dataset directory')
args = parser.parse_args()

print("Loading data... ", end='', flush=True)
articles, categories = load(args.directory)
train_articles, test_articles, train_categories, test_categories = \
    train_test_split(articles, categories, test_size=0.2, random_state=0)
print("done")

print("Extracting and selecting features... ", end='', flush=True)
vectorizer = CountVectorizer(analyzer='word', stop_words=get_stop_words('polish'), max_df=0.9)
vectorizer.fit(train_articles)
# analyze = vectorizer.build_analyzer()
# print(analyze(articles[0]))
train_features = vectorizer.transform(train_articles)
test_features = vectorizer.transform(test_articles)

selector = SelectKBest(chi2, k=10000) # 229803
selector.fit(train_features, train_categories)
selected_train_features = selector.transform(train_features)
selected_test_features = selector.transform(test_features)
print("done")

models = [
    MultinomialNB(alpha=0.01),
    MultinomialNB(alpha=0.03),
    MultinomialNB(alpha=0.3),
    MultinomialNB(alpha=0.1),
    DecisionTreeClassifier(criterion='gini'),
    LinearSVC(),
    svm.SVC(),
]

for model in models:
    print(f"Training {type(model).__name__}... ", end='', flush=True)
    kfold = KFold(n_splits=10, shuffle=True)

    def fold(model, train_indexes, validation_indexes):
        model.fit(selected_train_features[train_indexes], train_categories[train_indexes])
        score = model.score(selected_train_features[validation_indexes], train_categories[validation_indexes])
        return model, score

    folds = [fold(model, train_indexes, validation_indexes)
        for train_indexes, validation_indexes in kfold.split(selected_train_features, train_categories)]
    best_model = max(folds, key=lambda fold: fold[1])[0]
    print("done")

    print(f"Evaluating {type(best_model).__name__}... ", end='', flush=True)
    predicted_categories = best_model.predict(selected_test_features)
    accuracy = accuracy_score(test_categories, predicted_categories)
    print(f"done, accuracy = {accuracy:.2%}")